<ion-view view-title="Register">
  <ion-content class="padding-top">
    <div class="text-center padding-top">
      <i class="icon ion-android-person-add larger positive"></i>
    </div>
    <form name="registerForm" novalidate ng-submit="registerForm.$valid && register(user)"
    ng-class="{ 'has-error' : registerForm.txtemail.$invalid && registerForm.$submitted }">
    <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
        <input name="txtemail" type="email" ng-model="user.email" placeholder="Email"
        ng-minlength="5"
        ng-maxlength="30"
        required>
      </label>
      <div class="form-errors" ng-messages="registerForm.txtemail.$error" ng-if="registerForm.$submitted">
        <div class="form-error" ng-message="required">Email address required.</div>
        <div class="form-error" ng-message="email">This field is must be a valid email.</div>
        <div class="form-error" ng-message="maxlength">Your email cannot be longer than 30 characters.</div>
      </div>
        <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : registerForm.txtpassword.$invalid  && registerForm.$submitted}">
        <span class="input-label">Password</span>
        <input name="txtpassword" type="password" ng-model="user.password" placeholder="Password"
        ng-minlength="6"
        ng-maxlength="30"
        required>
      </label>
      <div class="form-errors" ng-messages="registerForm.txtpassword.$error" ng-if="registerForm.$submitted">
        <div class="form-error" ng-message="required">Password required.</div>
        <div class="form-error" ng-message="minlength">Your password must be at least 6 characters long.</div>
        <div class="form-error" ng-message="maxlength">Your password cannot be longer than 30 characters.</div>
        <div class="form-error" ng-message="pattern">Your passowrd must be only letters and numbers.</div>
      </div>
    </div>
    <div class="padding-top">
      <input type="submit" value="Register" class="button button-block button-positive"/>
    </div>
  </form>
  </ion-content>
</ion-view>
