<ion-view view-title="Channels" ng-controller="ChannelsListCtrl">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar item-icon-right" ng-repeat="channel in channels" type="item-text-wrap" ng-click="openChannel(channel.channelId)">

        <h2>{{channel.name}}</h2>
        <h4 class="counter">{{channel.unread}}</h4>
        <i class="icon ion-chevron-right icon-accessory"></i>
<!-- 
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>